@import "./fonts.scss";

html,body{
    margin: 0;
    font-family: 'PTSansNarrow';
}
.wrapper{
    max-width: 1300px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}
input{
    outline: none;
    padding-top:4px;
    padding-bottom: 4px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    margin-bottom: 40px;

    .menu{
        flex: 1;
        max-width: 700px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &.account{
            max-width: 200px;
        }
        &__link{
            color: black;
            font-size: 18px;
        }
    }
}
.btn{
    font-weight: 700;
    outline: none;
    cursor: pointer;
    margin-left: auto;
    max-width: 200px;
    margin-top: 10px;
    border: none;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.header{
    font-size: 32px;
}